/* LOGIN FORM */

body.login {
  background: #f8f8f8;
}

.login #header {
  height: auto;
  padding: 15px 16px;
  justify-content: center;
  background-color: #ff7d2c;
  border-top: 4px groove #ff7d2c;
  border-left: 12px groove #ff7d2c;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.login #header h1 {
  font-size: 28px;
}

.login #header h1 a {
  color: #fff;
  text-shadow: -2.5px 2.5px 3px black;
  font-weight: 400;
}

.login #content {
  padding: 20px 20px 0;
  border-left: 12px groove #ff7d2c;
  border-right: 12px groove #ff7d2c;
  background-color: #eb905888;
}

.login #container {
  background: #fff;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  overflow: hidden;
  width: 28em;
  min-width: 300px;
  margin: 100px auto;
}

.login #content-main {
  width: 100%;
}

.login #footer {
  border-left: 12px groove #ff7d2c;
  border-right: 12px groove #ff7d2c;
  border-bottom: 10px ridge #ff7d2c;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: #eb905888;
}

.login .form-row {
  padding: 4px 0;
  float: left;
  width: 100%;
  border-bottom: none;
}

.login .form-row label {
  padding-right: 0.5em;
  line-height: 2em;
  font-size: 1.2rem;
  clear: both;
  color: #333;
}

.login .form-row #id_username,
.login .form-row #id_password {
  clear: both;
  padding: 8px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.2rem;
  box-shadow: inset 3px 3px 7px #8c8c8c;
}

.login span.help {
  font-size: 10px;
  display: block;
}

.login .submit-row {
  clear: both;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  margin: 0;
  border: none;
  background: none;
  display: flex;
  justify-content: center;
}

.login .submit-row>input {
  background-color: #ff7d2c;
  font-size: 1rem;
  border-radius: 5rem;
  border-left: 0.3px solid #c5531e;
  border-right: 0.3px solid #c5531e;
  border-bottom: 7px solid #c5531e;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.459);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.login .submit-row>input:hover {
  background-color: #e29667;
}

.login .submit-row>input:focus {
  background-color: #d86028;
  border-left: 0.3px solid #9b3d12;
  border-right: 0.3px solid #9b3d12;
  border-bottom: 0px solid #9b3d12;
  transform: scale(0.9);
  transform: translateY(4px);
  transition: 100ms;
}

.login .password-reset-link {
  text-align: center;
}