{% extends 'base.html' %}
{% load static %}


{% block content %}

  <div class="main_content_wrapper">
    <div class="text_field">
      <p class="hint_text text-center">Thank you for completing your camp registration.  We are excited to have you join our camp family!  We will contact you for follow up in the next two weeks.</p>
    </div>
    <div class="submitted_image_container">
      <img class="submitted_image" src="{% static '/assets/ASPYRE_collage.svg' %}">
    </div>
  </div>

{% endblock %}