{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="main_content_wrapper">
    <div class="rainbow"></div>
    <form class="camper_form">
        {% csrf_token %}
        <div class="camper_form_title_container">
            <h1>A Safer Place for Youth to Reach for Excellence</h1>
            <h2>{{ camp.start_date.year }} Leadership Camp Confirmation Packet</h2>
        </div>
        <ol class="table_of_contents">
            <li><a href="#section1">BASIC CONTACT INFO</a></li>
            <li><a href="#section2">MEDICATIONS</a></li>
            <li><a href="#section3">DIETARY PREFERRENCES/ALLERGIES</a></li>
            <li><a href="#section4">PHYSICAL HEALTH HISTORY/IMMUNIZATIONS</a></li>
            <li><a href="#section5">MENTAL HEALTH HISTORY</a></li>
            <li><a href="#section6">AUTHORIZATIONS</a></li>
            <li><a href="#section7">COMMUNITY VALUES AGREEMENT</a></li>
            <li><a href="#section8">PARENT/GUARDIAN AND PARTICIPANT RELEASE</a></li>
            <li><a href="#section9">ITEMS TO BRING</a></li>
                <ul class="ul">
                    <li>Keep as a checklist of what to bring with you</li>
                </ul>
            <li><a href="#section10">EMERGENCY CONTACTS AND DIRECTIONS</a></li>
                <ul class="ul">
                    <li>Leave with Parent</li>
                </ul>
            <li><a href="#section11">DIRECTIONS TO THE CAMP</a></li>
                <ul class="ul">
                    <li>Bring along as back-up to your GPS</li>
                </ul>
        </ol>

        <div class="divider"></div>

        <section id="section1" class="section">
            <div class="section_header">
                <h3>SECTION 1 - Basic Contact Info</h3>
                <p><a class="form_nav" href="#top_of_page">Jump to Top</a></p>
            </div>
            <div class="section_content">
                <div class="text_field">
                    <h5 class="field_title">Parent/Guardian Name:</h5>
                    {{ form.first_guardian_name }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Parent/Guardian Phone Number:</h5>
                    {{ form.first_guardian_phone_number }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">What type of phone number?</h5>
                    <p class="hint_text">(Home, Work, or Cellular?)</p>
                    <ul class="horizontal">
                        <li>{{ form.first_guardian_home_work_or_cell }}</li>
                    </ul>
                </div>
                <div class="text_field">
                    <h5 class="field_title">Parent/Guardian Name:</h5>
                    {{ form.second_guardian_name }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Parent/Guardian Phone Number:</h5>
                    {{form.second_guardian_phone_number }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">What type of phone number?</h5>
                    <p class="hint_text">(Home, Work, or Cellular?)</p>
                    <ul class="horizontal">
                        <li>{{ form.second_guardian_home_work_or_cell }}</li>
                    </ul>
                </div>
                <div class="text_field">
                    <h5 class="field_title">Parent/Guardian Name:</h5>
                    {{ form.third_guardian_name }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Parent/Guardian Phone Number:</h5>
                    {{ form.third_guardian_phone_number }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">What type of phone number?</h5>
                    <p class="hint_text">(Home, Work, or Cellular?)</p>
                    <ul class="horizontal">
                        <li>{{ form.third_guardian_home_work_or_cell }}</li>
                    </ul>
                </div>
                <div class="text_field">
                    <h5 class="field_title">Emergency Contact Name:</h5>
                    <p class="hint_text">(If parent/guardian cannot be reached)</p>
                    {{ form.emergency_contact_name }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Emergency Contact Phone Number:</h5>
                    {{ form.emergency_contact_phone_number }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">What type of phone number?</h5>
                    <p class="hint_text">(Home, Work, or Cellular?)</p>
                    <ul class="horizontal">
                        <li>{{ form.emergency_home_work_cell }}</li>
                    </ul>
                </div>
                <div class="text_field">
                    <h5 class="field_title">My child can be picked up by either guardian and/or emergency contact:</h5>
                    {{ form.can_camper_be_picked_up_by_guardian_or_emergency_contact }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">If no, please list the name of the person NOT authorized to pick up your child:</h5>
                    {{ form.any_unauthorized_persons_that_can_pick_up_camper }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Please list the full name and phone number of any other adult you are authorizing to pick up/drop off your child:</h5>
                </div>
                <div class="text_field">
                    <h5 class="field_title">Authorized Persons Full Name:</h5>
                    {{ form.first_authorized_persons_name }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Authorized Persons Phone Number:</h5>
                    {{ form.first_authorized_persons_phone }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Authorized Persons Full Name:</h5>
                    {{ form.second_authorized_persons_name }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Authorized Persons Phone Number:</h5>
                    {{ form.second_authorized_persons_phone }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Family Physician/NP/PA Name:</h5>
                    {{ form.family_physician_NP_PA_name }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Family Physician/NP/PA Phone Number:</h5>
                    {{ form.family_physician_NP_PA_phone_number }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Youth’s Mental Healthcare Provider Name:</h5>
                    {{ form.mental_healthcare_provider_name }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Mental Healthcare Provider Phone Number:</h5>
                    {{ form.mental_healthcare_provider_phone_number }}
                </div>
            </div>
        </section>

        <div class="divider"></div>

        <section id="section2" class="section">
            <div class="section_header">
                <h3>SECTION 2 - Medications</h3>
                <p><a class="form_nav" href="#top_of_page">Jump to Top</a></p>
            </div>
            <div class="section_content">
                <div class="text_field">
                    <h5 class="field_title">Will the youth be taking medications while at camp?</h5>
                    {{ form.will_camper_take_medication_while_at_camp }}
                </div>
                <div class="text_field">
                <p class="hint_text">Please list all (prescription and non-prescription) medications or provide a copy of the youth’s medication list. When you check-in at camp, please provide all medications in their original packaging that identifies the prescribing physician (if prescription drug), the name of the medication, the dosage, and frequency of administration. Please have medication in a ziplock bag labeled with your child’s first and last name along with birth date. Medications will be turned over to our volunteer Nurse onsite during registration.</p>
                    <h5 class="field_title">Medication:</h5>
                    {{ form.first_medication_name }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Dose:</h5>
                    {{ form.first_medication_dose }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Take at what times:</h5>
                    {{ form.first_medication_times }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Reasons for Taking:</h5>
                    {{ form.first_medication_reason_for_taking }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Prescriber:</h5>
                    {{ form.first_medication_prescriber_name }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Prescriber's Phone Number:</h5>
                    {{ form.first_medication_prescriber_phone_number }}
                </div>

                <div class="divider"></div>

                <div class="text_field">
                    <h5 class="field_title">Medication:</h5>
                    {{ form.second_medication_name }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Dose:</h5>
                    {{ form.second_medication_dose }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Take at what times:</h5>
                    {{ form.second_medication_times }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Reasons for Taking:</h5>
                    {{ form.second_medication_reason_for_taking }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Prescriber:</h5>
                    {{ form.second_medication_prescriber_name }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Prescriber's Phone Number:</h5>
                    {{ form.second_medication_prescriber_phone_number }}
                </div>

                <div class="divider"></div>

                <div class="text_field">
                    <h5 class="field_title">Medication:</h5>
                    {{ form.third_medication_name }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Dose:</h5>
                    {{ form.third_medication_dose }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Take at what times:</h5>
                    {{ form.third_medication_times }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Reasons for Taking:</h5>
                    {{ form.third_medication_reason_for_taking }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Prescriber:</h5>
                    {{ form.third_medication_prescriber_name }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Prescriber's Phone Number:</h5>
                    {{ form.third_medication_prescriber_phone_number }}
                </div>

                <div class="divider"></div>

                <div class="text_field">
                    <h5 class="field_title">Medication:</h5>
                    {{ form.fourth_medication_name }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Dose:</h5>
                    {{ form.fourth_medication_dose }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Take at what times:</h5>
                    {{ form.fourth_medication_times }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Reasons for Taking:</h5>
                    {{ form.fourth_medication_reason_for_taking }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Prescriber:</h5>
                    {{ form.fourth_medication_prescriber_name }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Prescriber's Phone Number:</h5>
                    {{ form.fourth_medication_prescriber_phone_number }}
                </div>

                <div class="divider"></div>

                <div class="text_field">
                    <h5 class="field_title">Medication:</h5>
                    {{ form.fifth_medication_name }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Dose:</h5>
                    {{ form.fifth_medication_dose }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Take at what times:</h5>
                    {{ form.fifth_medication_times }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Reasons for Taking:</h5>
                    {{ form.fifth_medication_reason_for_taking }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Prescriber:</h5>
                    {{ form.fifth_medication_prescriber_name }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Prescriber's Phone Number:</h5>
                    {{ form.fifth_medication_prescriber_phone_number }}
                </div>
                
                <div class="divider"></div>

                <div class="text_field">
                    <h5 class="field_title">Medication:</h5>
                    {{ form.sixth_medication_name }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Dose:</h5>
                    {{ form.sixth_medication_dose }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Take at what times:</h5>
                    {{ form.sixth_medication_times }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Reasons for Taking:</h5>
                    {{ form.sixth_medication_reason_for_taking }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Prescriber:</h5>
                    {{ form.sixth_medication_prescriber_name }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Prescriber's Phone Number:</h5>
                    {{ form.sixth_medication_prescriber_phone_number }}
                </div>
            </div>
        </section>

        <div class="divider"></div>

        <section id="section3" class="section">
            <div class="section_header">
                <h3>SECTION 3 - Dietary Preferrences/Allergies</h3>
                <p><a class="form_nav" href="#top_of_page">Jump to Top</a></p>
            </div>
            <div class="section_content">
                <div class="text_field">
                    <h5 class="field_title">Dietary Preferences:</h5>
                    {{ form.camper_dietary_preference_choices }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Food Allergies:</h5>
                    <p class="hint_text">(Please specify and list reactions)</p>
                    {{ form.does_camper_have_any_food_allergies }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Known Drug Allergies/Other Allergies:</h5>
                    <p class="hint_text">(Please specify and list reactions)</p>
                    {{ form.does_camper_have_any_drug_other_allergies }}
                </div>
            </div>
        </section>

        <div class="divider"></div>

        <section id="section4" class="section">
            <div class="section_header">
                <h3>SECTION 4 - Physical Health History/Immunizations</h3>
                <p><a class="form_nav" href="#top_of_page">Jump to Top</a></p>
            </div>
            <div class="section_content">
                <div class="text_field">
                    <p class="hint_text">Does the camper have a history of or is prone to any of the following (Please check all that apply)</p>
                    {{ form.camper_physical_health_history_choices }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Please list the number and provide explanation for any checked items:</h5>
                    {{ form.provide_explanation_of_any_checked_medical_history_items }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Physical Activities to be Limited/Restricted while at Camp:</h5>
                    {{ form.does_camper_have_any_physical_activities_to_be_limited_or_restricted }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Please record the month and year of immunizations for the following entires, or email a copy of the youth’s immunization records.</h5>
                </div>
                <div class="text_field">
                    <h5 class="field_title">Diphtheria, Tetanus, Pertussis:</h5>
                    <p class="hint_text">(DTaP or TdaP)</p>
                    {{ form.month_and_year_of_diphtheria_or_tetanus_immunization }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Tetanus Booster:</h5>
                    <p class="hint_text">(dT or TdaP)</p>
                    {{ form.month_and_year_of_tetanus_booster_immunization }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Polio:</h5>
                    <p class="hint_text">(IPV)</p>
                    {{ form.month_and_year_of_polio_immunization }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Rotavirus:</h5>
                    <p class="hint_text">(RV)</p>
                    {{ form.month_and_year_of_rotavirus_immunization }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Mumps, Measles, Rubella:</h5>
                    <p class="hint_text">(MMR)</p>
                    {{ form.month_and_year_of_mumps_measles_or_rubella_immunization }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Hepatitis A:</h5>
                    <p class="hint_text">(Hep. A)</p>
                    {{ form.month_and_year_of_hepatitis_a_immunization }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Hepatitis B:</h5>
                    <p class="hint_text">(Hep. B)</p>
                    {{ form.month_and_year_of_hepatitis_b_immunization }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Varicella:</h5>
                    <p class="hint_text">(Chicken Pox)</p>
                    {{ form.month_and_year_of_varicella_immunization }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Duration of any Chicken Pox:</h5>
                    {{ form.month_and_year_of_duration_of_chicken_pox }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Haemophilus Influenzae B:</h5>
                    <p class="hint_text">(Hib)</p>
                    {{ form.month_and_year_of_haemophilus_influenza_b_immunization }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Seasonal Flu Vaccine:</h5>
                    {{ form.month_and_year_of_seasonal_flu_vaccine_immunization }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Pneumococcal Vaccine:</h5>
                    <p class="hint_text">(PCV13)</p>
                    {{ form.month_and_year_of_pneumococcal_vaccine_immunization }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Human Papillomavirus:</h5>
                    <p class="hint_text">(HPV)</p>
                    {{ form.month_and_year_of_human_papillomavirus_immunization }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Meningococcal Meningitis:</h5>
                    {{ form.month_and_year_of_meningococcal_meningitis_immunization }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Tuberculin Test given:</h5>
                    <p class="hint_text">(Most Recent)</p>
                    {{ form.month_and_year_of_tuberculin_test }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Was the Tuberculin Test Positive or Negative?</h5>
                    {{ form.was_tuberculin_test_positive_or_negative }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Other:</h5>
                    {{ form.any_other_unlisted_immunizations }}
                </div>
            </div>
        </section>

        <div class="divider"></div>

        <section id="section5" class="section">
            <div class="section_header">
                <h3>SECTION 5 - Mental Health History</h3>
                <p><a class="form_nav" href="#top_of_page">Jump to Top</a></p>
            </div>
            <div class="section_content">
                <div class="text_field">
                    <h5 class="field_title">Has the camper have a history of any of the following:</h5>
                    <p class="hint_text">(Please check all that apply)</p>
                    {{ form.camper_mental_health_history_choices }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Please list the name and provide explanation for any checked items:</h5>
                    {{ form.any_other_unlisted_mental_illnesses }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Please list any triggers we should be aware of:</h5>
                    {{ form.does_camper_have_any_triggers_to_be_aware_of }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Please list any positive coping skills the youth may use:</h5>
                    {{ form.does_camper_have_positive_coping_skills_to_use }}
                </div>
            </div>
        </section>

        <div class="divider"></div>

        <section id="section6" class="section">
            <div class="section_header">
                <h3>SECTION 6 - Authorizations</h3>
                <p><a class="form_nav" href="#top_of_page">Jump to Top</a></p>
            </div>
            <div class="section_content">
                <div class="text_field">
                    <h5 class="field_title bold underline text-center">Consent for Medication Administration and to Give Over-The-Counter Medication</h5>
                    <p class="hint_text">I request the authorized ASPYRE staff members to administer medication or supervise the camper in self-administration as prescribed by the camper’s physician. I certify that I have the legal authority to consent to medical treatment for the camper named above, including the administration of medication at the facility. Additionally, I authorize ASPYRE staff members to administer the following over the counter medications listed below to the camper at the request of the camper.</p>
                    <p class="hint_text">I understand that the end of the authorized period I will be responsible for picking up any remaining medications, otherwise it will be discarded. I authorize camp personnel to communicate with the prescriber as allowed by HIPAA.</p>
                    {{ form.guardian_authorized_over_counter_medications_choices }}
                </div>
                <div class="text_field">
                    <p class="hint_text">{{ form.guardian_consent_to_give_over_the_counter_medications }} I Agree with the Statement above.</p>
                </div>

                <div class="divider"></div>

                <div class="text_field">
                    <h5 class="field_title bold underline text-center">Consent to Use Health Information and Consent for Treatment at ASPYRE</h5>
                </div>
                <div class="text_field">
                    <h5 class="hint_text">To the best of my knowledge, the health information stated in the “ASPYRE Leadership Camp Health Form” is correct for my child. I give permission for the staff to treat my child for any minor medical injuries including but not limited to cuts, scrapes, insect bites, etc. In case of medical and/or mental health emergency, the camp will try to contact the person designated as the emergency contact on this form but in the event that the person cannot be contacted, I give permission to the physician selected by a ASPYRE Staff to hospitalize, secure proper treatment, order injection, anesthesia and/or surgery for the individual.</h5>
                </div>
                <div class="text_field">
                    <p class="hint_text">{{ form.guardian_consent_to_health_information_and_treatment_at_ASPYRE }} I Agree with the Statment above.</p>
                </div>

                <div class="divider"></div>

                <div class="text_field">
                    <h5 class="field_title bold underline text-center">Freedom of Expression Consent</h5>
                </div>
                <div class="text_field">
                    <p class="hint_text">I understand that my adolescent may be exposed to concepts or language in discussions at ASPYRE camp that our family does not personally endorse. I understand that the APRYRE staff will make every attempt to keep all camp materials age-appropriate, while recognizing that different cultures, families, and individuals may define this differently. I recognize that some written pieces, songs, or videos that demonstrate the lives of strong LGBTQI leaders in history may contain some strong language and that the staff may determine that there is benefit in introducing the material to campers. I agree to discuss with my child after camp any concepts or language in songs, etc. in terms of the values of our own family/culture.</p>
                </div>
                <div class="text_field">
                    <p class="hint_text">{{ form.guardian_consent_to_freedom_of_expression_consent }} I Agree with the Statement above.</p>
                </div>

                <div class="divider"></div>
                
                <div class="text_field">
                    <h5 class="field_title bold underline text-center">Photo Release</h5>
                </div>
                <div class="text_field">
                    <p class="hint_text">We understand ASPYRE will be taking photographs and/or taking video footage of youth during ASPYRE camp activities. ASPYRE has permission to publish my/my camper’s photograph in ASPYRE publications and outreach materials. ASPYRE has permission to use video of the camper on the ASPYRE Instagram, or in other ASPYRE materials.</p>
                </div>
                <div class="text_field">
                    <p class="hint_text">{{ form.guardian_or_18yr_old_consent_to_photo_release }} I Agree with the Statement above.</p>
                </div>
            </div>
        </section>

        <div class="divider"></div>

        <section id="section7" class="section">
            <div class="section_header">
                <h3>SECTION 7 - Community Agreement Values</h3>
                <p><a class="form_nav" href="#top_of_page">Jump to Top</a></p>
            </div>
            <div class="section_content">
                <div class="text_field">
                    <h5 class="field_title bold underline text-center">COMMUNITY VALUES AGREEMENT</h5>
                </div>
                <div class="text_field">
                    <p class="hint_text">The ASPYRE Leadership Camp participants, adult advisors, and invited guests are expected to demonstrate behavior consistent with the high ideals of the ASPYRE Leadership program and should abide by the provisions of this agreement while in attendance at any ASPYRE event. Every member will respect the authority of the facilitators, counselors and volunteers in attendance and the rules and regulations of the Camp and LGBT Center of Raleigh.</p>
                </div>

                <div class="divider"></div>

                <div class="text_field">
                    <h5 class="field_title bold underline text-center">Responsible Behavior</h5>
                </div>
                <div class="text_field">
                    <p class="hint_text">Participants may not possess or consume any alcoholic beverages. Participants may not possess or use any drugs or other controlled substances, with the exception of prescribed medication for the attendee and disclosed to the facilitator prior to the event commencing. Participants may not possess or use any tobacco products, and the facilitator and advisors may not use any tobacco products in the presence of participants. Participants are expected to abstain from any activity of a sexual nature. Participants may not possess weapons, fireworks, or anything else of a dangerous nature or act in any way unbecoming of an aspiring Leader.</p>
                </div>

                <div class="divider"></div>

                <div class="text_field">
                    <h5 class="field_title bold underline text-center">Lodging</h5>
                </div>
                <div class="text_field">
                    <p class="hint_text">Participants staying in the camp or conference center must sleep in their assigned room or cabin. All participants are expected to abide by a in bunk/lights out curfew of midnight to 6 a.m. unless otherwise specified by the facilitator or the conference center/camp.</p>
                </div>

                <div class="divider"></div>

                <div class="text_field">
                    <h5 class="field_title bold underline text-center">Dress Code</h5>
                </div>
                <div class="text_field">
                    <p class="hint_text">All participants are expected to wear “camp casual” clothing. This includes shorts, T-shirts, jeans, sweatshirts, and closed-toe shoes. At no time will any clothing with inappropriate language or graphics be allowed. Any shirts, shorts or skirts deemed to be on inappropriate length or size will not be allowed. Flip-flops or open-toed shoes are not appropriate for the ASPYRE Leadership camp because of the nature of the activities in which students will participate. All participants will be required to wear their provided lanyard with name badge for the weekend.</p>
                </div>

                <div class="divider"></div>

                <div class="text_field">
                    <h5 class="field_title bold underline text-center">Enforcement</h5>
                </div>
                <div class="text_field">
                    <p class="hint_text">Violations of this agreement will result in notification to the respective nominator and sponsor. Violations involving destruction of property, or possession, consumption or use of alcoholic beverages or controlled substances or tobacco products will result in dismissal from the event. Further, it is in the discretion of the Volunteer Staff to notify the appropriate authorities of any criminal violations. These values are effective as of the time the participant arrives at this event until the time the participant departs.</p>
                </div>
                <div class="text_field">
                    <p class="hint_text">{{ form.guardian_consent_for_community_values_agreement }} I Agree with the Statments above.</p>
                </div>
            </div>
        </section>

        <div class="divider"></div>

        <section id="section8" class="section">
            <div class="section_header">
                <h3>SECTION 8 - Parent/Guardian and Participant Release</h3>
                <p><a class="form_nav" href="#top_of_page">Jump to Top</a></p>
            </div>
            <div class="section_content">
                <div class="text_field">
                    <h5 class="field_title">Youth/Parent Waiver to Participate</h5>
                </div>
                <div class="text_field">
                    <ol>
                        <li>
                            <p class="hint_text">I wish to participate in ASPYRE Leadership Camp. I understand that my execution of this Waiver and Release is a prerequisite for participation in the Program. I further understand that there are risks and dangers inherent in participating in this Program.</p>
                        </li>
                        <li>
                            <p class="hint_text">I understand that in order to be allowed to participate in the Program, I agree to assume all risks and to release and hold harmless LGBT Center of Raleigh, ASPYRE Leadership Camp, and their officers, agents, employees, assigns, successors in interest, contractors, vendors (and their agents), agencies, sponsors, officials and volunteers, including host families, camp facilitators, participating communities and clubs and all governmental and public entities including, but not limited to, the State, County and local municipalities where the program takes place (collectively the “Released Parties”).</p>
                        </li>
                        <li>
                            <p class="hint_text">I intend by this Waiver and Release to release, in advance, and to waive my rights and to indemnify, defend, and hold harmless the Released Parties with respect to any cost, expense, liability or damage, including reasonable attorneys’ fees and expenses related to the investigation or defense of any claims (collectively, “Damages”) incurred if and to the extent that such Damages result from claims resulting from the activities or on account of any actions, negligent or otherwise, of the Released Parties. I understand and agree that this Waiver and Release is binding on my heirs, assigns, and legal representatives.</p>
                        </li>
                        <li>
                            <p class="hint_text">I understand that I am solely responsible to verify and show proof that I have adequate personal property and liability insurance to cover any and all contingencies during the entire duration of the Program, including all travel time. I may also be required to subscribe, at my own expense, to medical, life, personal property, liability, or other type of insurance, as deemed appropriate by LGBT Center of Raleigh, to cover the duration of the Program, regardless of whether said participant is already insured under a policy issued in the participant’s home country.</p>
                        </li>
                        <li>
                            <p class="hint_text">I understand that I am solely responsible for my health and safety, and I acknowledge that I am physically capable of participating in and completing this Program.</p>
                        </li>
                        <li>
                            <p class="hint_text">I agree to allow LGBT Center of Raleigh, and their contractors, agencies and sponsors, the use of my name and likeness in connection with the , for any purpose related to advertising or promotion of the event worldwide in perpetuity in all forms of media now and forever known.</p>
                        </li>
                        <li>
                            <p class="hint_text">Should any portion of this Waiver and Release be judicially determined invalid, voidable, or unenforceable for any reason, such portion of this Waiver and Release shall be severable from the remaining portions herein and the invalidity, voidability, or unenforceability thereof shall not affect the validity, effect, enforceability, or interpretation of the remaining provisions of this Waiver and Release.</p>
                        </li>
                        <li>
                            <p class="hint_text">I have carefully read this Waiver and Release and fully understand its contents. My parent or legal guardian has completely reviewed this Waiver and Release, understands and consents to its terms, and authorizes my participation by his/her signature below. I am aware that this is a RELEASE OF LIABILITY and a contract between me and the persons and entities mentioned above and I sign of my own free will.</p>
                        </li>
                    </ol>
                </div>
                <div class="text_field">
                    <p class="hint_text">{{ form.guardian_consent_for_waiver_to_participate }} I Agree with the Statments above.</p>
                </div>
            </div>
        </section>

        <div class="divider"></div>

        <section id="section9" class="section">
            <div class="section_header">
                <h3>SECTION 9 - Items To Bring</h3>
                <p><a class="form_nav" href="#top_of_page">Jump to Top</a></p>
            </div>
            <div class="section_content">
                <div class="text_field">
                    <h5 class="field_title text-center bold underline">Required Items</h5>
                </div>
                <ul class="ul">
                    <li>
                        <div class="text_field">
                            <h5 class="field_title li">Sleeping Bag or Sheets and Blanket as bunks will not have linen Pillow(s)</h5>
                        </div>
                    </li>
                    <li>
                        <div class="text_field">
                            <h5 class="field_title li">Toothbrush and Toothpaste</h5>
                        </div>
                    </li>
                    <li>
                        <div class="text_field">
                            <h5 class="field_title li">Deodorant</h5>
                        </div>
                    </li>
                    <li>
                        <div class="text_field">
                            <h5 class="field_title li">Soap and Shampoo</h5>
                        </div>
                    </li>
                    <li>
                        <div class="text_field">
                            <h5 class="field_title li">All other personal toiletries (conditioner, combs, brushes contact cases, glasses, solutions, lotions, etc.)</h5>
                        </div>
                    </li>
                    <li>
                        <div class="text_field">
                            <h5 class="field_title li">Towel(s) and cloth(s)</h5>
                        </div>
                    </li>
                    <li>
                        <div class="text_field">
                            <h5 class="field_title li">Water Bottle</h5>
                        </div>
                    </li>
                    <li>
                        <div class="text_field">
                            <h5 class="field_title li">2-3 Changes of comfortable casual warm clothing</h5>
                        </div>
                    </li>
                    <li>
                        <div class="text_field">
                            <h5 class="field_title li">Appropriate Sleeping Clothes for shared sleeping space</h5>
                        </div>
                    </li>
                    <li>
                        <div class="text_field">
                            <h5 class="field_title li">Closed Toed Shoes</h5>
                        </div>
                    </li>
                    <li>
                        <div class="text_field">
                            <h5 class="field_title li">Flip flops for showers</h5>
                        </div>
                    </li>
                    <li>
                        <div class="text_field">
                            <h5 class="field_title li">Hoodie or sweater (to have throughout the day)</h5>
                        </div>
                    </li>
                    <li>
                        <div class="text_field">
                            <h5 class="field_title li">Warm Jacket</h5>
                        </div>
                    </li>
                    <li>
                        <div class="text_field">
                            <h5 class="field_title li">Any prescribed Medication</h5>
                        </div>
                    </li>
                    <li>
                        <div class="text_field">
                            <h5 class="field_title li">Confirmation Forms (If not already submitted)</h5>
                        </div>
                    </li>
                </ul>
                <div class="text_field">
                    <h5 class="field_title text-center bold underline">OPTIONAL/RECOMMENDED ITEMS</h5>
                </div>
                <ul class="ul">
                    <li>
                        <div class="text_field">
                            <h5 class="field_title li">Flashlight</h5>
                        </div>
                    </li>
                    <li>
                        <div class="text_field">
                            <h5 class="field_title li">Personal Item for free time (i.e. musical instruments, sketchbooks)</h5>
                        </div>
                    </li>
                    <li>
                        <div class="text_field">
                            <h5 class="field_title li">There will be an open mic, so bring something to share if you would like</h5>
                        </div>
                    </li>
                </ul>

                <div class="divider"></div>
                
                <div class="text_field">
                    <h5 class="field_title text-center bold italics">** Note the LGBT Center of Raleigh is not responsible for any lost damaged or stolen items during the camp **</h5>
                </div>
            </div>
        </section>

        <div class="divider"></div>

        <section id="section10" class="section">
            <div class="section_header">
                <h3>SECTION 10 - Emergency Contacts and Directions</h3>
                <p><a class="form_nav" href="#top_of_page">Jump to Top</a></p>
            </div>
            <div class="section_content">
                <div class="text_field text-center">
                    <h5 class="field_title bold">ASPYRE {{camp.start_date.year}} EMERGENCY CONTACTS:</h5>
                    <p class="hint_text">(Leave this page with Parent or Guardian)</p>
                </div>
                <div class="text_field text-center">
                    <h5 class="field_title underline">Lora Pilcher</h5>
                    <p class="hint_text">Youth and Family Initiative Coordinator</p>
                    <p class="hint_text">Email: lpilcher@lgbtcenterofraleigh.com</p>
                    <p class="hint_text">Cell: 217-520-3109</p>
                </div>
                <div class="fancy_divider_container">
                    <div class="fancy_divider_left_side"></div>
                    <div class="fancy_divider_center"></div>
                    <div class="fancy_divider_right_side"></div>
                </div>
                <div class="text_field text-center">
                    <h5 class="field_title underline">Alex Thomas</h5>
                    <p class="hint_text">Key Volunteer and ASPYRE Logistics Coordinator</p>
                    <p class="hint_text">Email: athomas@lgbtcenterofraleigh.com</p>
                    <p class="hint_text">Cell: 336-419-7784</p>
                </div>
                <div class="fancy_divider_container">
                    <div class="fancy_divider_left_side"></div>
                    <div class="fancy_divider_center"></div>
                    <div class="fancy_divider_right_side"></div>
                </div>
                <div class="text_field text-center">
                    <h5 class="field_title underline">Elizabeth Harles</h5>
                    <p class="hint_text">Lead Facilitator and Key Volunteer Advisor to the Youth Leadership Team of the LGBT Center of Raleigh</p>
                    <p class="hint_text">Email: eharles@lgbtcenterofraleigh.com</p>
                    <p class="hint_text">Cell: 919-601-4207</p>
                </div>
                <div class="fancy_divider_container">
                    <div class="fancy_divider_left_side"></div>
                    <div class="fancy_divider_center"></div>
                    <div class="fancy_divider_right_side"></div>
                </div>
                <div class="text_field text-center">
                    <h5 class="field_title underline">Kori Hennessey</h5>
                    <p class="hint_text">Director of Education and Programs at LGBT Center of Raleigh</p>
                    <p class="hint_text">Email: Kori@lgbtcenterofraleigh.com</p>
                    <p class="hint_text">Cell: 919-480-1246</p>
                </div>
                <div class="fancy_divider_container">
                    <div class="fancy_divider_left_side"></div>
                    <div class="fancy_divider_center"></div>
                    <div class="fancy_divider_right_side"></div>
                </div>
                <div class="text_field text-center">
                    <h5 class="field_title underline">Lindsey Lughes</h5>
                    <p class="hint_text">Executive Director of the LGBT Center of Raleigh</p>
                    <p class="hint_text">Email: llughes@lgbtcenterofraleigh.com</p>
                    <p class="hint_text">Cell: 919-696-2971</p>
                </div>
                <div class="fancy_divider_container">
                    <div class="fancy_divider_left_side"></div>
                    <div class="fancy_divider_center"></div>
                    <div class="fancy_divider_right_side"></div>
                </div>
            </div>
        </section>

        <div class="divider"></div>

        <section id="section11" class="section">
            <div class="section_header">
                <h3>SECTION 11 - Directions To The Camp</h3>
                <p><a class="form_nav" href="#top_of_page">Jump to Top</a></p>
            </div>
            <div class="section_content">
                <div class="text_field">
                    <h5 class="field_title text-center">DIRECTIONS TO THE CAMP:</h5>
                </div>
                <div class="medical_form_pic_container">
                    <div class="medical_form_pic_wrapper">
                        <img class="campWeaverSign" src="{% static 'assets/campWeaverSign.jpeg' %}">
                        <p class="hint_text text-center">ENTRY SIGNS OFF OF MILL POINT ROAD</p>
                    </div>
                    <div class="medical_form_pic_wrapper">
                        <img class="campBuilding" src="{% static 'assets/campBuilding.png' %}">
                        <p class="hint_text text-center">CASPER HALL</p>
                    </div>
                </div>
                <div class="text_field">
                    <h5 class="field_title text-center">TO THE CAMP SITE:</h5>
                </div>
                <ul class="ul">
                    <li>
                        <div class="text_field">
                            <h5 class="field_title text-center">Follow GPS Directions to 4924 Tapawingo Trail, Greensboro, NC 27406</h5>
                        </div>
                    </li>
                    <li>
                        <div class="text_field">
                            <h5 class="field_title text-center">From I-40 W/I-85 S: Exit #129, Make a Left onto Young’s Mill Road. (From I-40 E/I-85 N make a right)</h5>
                        </div>
                    </li>
                    <li>
                        <div class="text_field">
                            <h5 class="field_title text-center">Follow Young’s Mill Road until it dead ends and make a left onto Mill Point Road.</h5>
                        </div>
                    </li>
                    <li>
                        <div class="text_field">
                            <h5 class="field_title text-center">Travel on Mill Point Road for ¾ of a mile and turn onto Tapawingo Trail. Once inside the camp go ¾ around the traffic circle and make a right toward Casper Hall</h5>
                        </div>
                    </li>
                </ul>
                <div class="text_field">
                    <h5 class="field_title text-center">We will have signage to assist in finding your way to registration. Please call if you need any assistance.</h5>
                </div>
            </div>
        </section>

        <div class="divider"></div>

        <div class="save_submit_button_container">
            <button class="save_button" value="Save">Save/Continue Later</button>
            <button class="submit_button" type="submit">SUBMIT</button>
        </div>

    </form>
</div>

{% endblock %}