{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="main_content_wrapper">
    <div class="rainbow"></div>
    <form class="camper_form">
        {% csrf_token %}
        <div class="camper_form_title_container">
            <h1>A Safer Place for Youth to Reach for Excellence</h1>
            <h2>{{ camp.start_date.year }} Leadership Camp Confirmation Packet</h2>
            <div class="section_current_out_of_total">
              <h3>Page 5 of 11</h3>
            </div>
        </div>

        <div class="divider"></div>

        <section id="section5" class="section">
            <div class="section_header">
                <h3>SECTION 5 - Mental Health History</h3>
            </div>
            <div class="section_content">
                <div class="text_field">
                    <h5 class="field_title">Has the camper have a history of any of the following:</h5>
                    <p class="hint_text">(Please check all that apply)</p>
                    {{ form.camper_mental_health_history_choices }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Please list the name and provide explanation for any checked items:</h5>
                    {{ form.any_other_unlisted_mental_illnesses }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Please list any triggers we should be aware of:</h5>
                    {{ form.does_camper_have_any_triggers_to_be_aware_of }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Please list any positive coping skills the youth may use:</h5>
                    {{ form.does_camper_have_positive_coping_skills_to_use }}
                </div>
            </div>
        </section>

        <div class="divider"></div>

        <div class="save_submit_button_container">
            <button class="save_button" value="Save">Save/Continue Later</button>
            <button class="submit_button" type="submit">Submit This Section and Continue</button>
        </div>

    </form>
</div>

{% endblock %}