{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="main_content_wrapper">
    <div class="rainbow"></div>
    <form class="camper_form">
        {% csrf_token %}
        <div class="camper_form_title_container">
            <h1>A Safer Place for Youth to Reach for Excellence</h1>
            <h2>{{ camp.start_date.year }} Leadership Camp Confirmation Packet</h2>
            <div class="section_current_out_of_total">
              <h3>Page 9 of 11</h3>
            </div>
        </div>

        <div class="divider"></div>

        <section id="section9" class="section">
            <div class="section_header">
                <h3>SECTION 9 - Items To Bring</h3>
            </div>
            <div class="section_content">
                <div class="text_field">
                    <h5 class="field_title text-center bold underline">Required Items</h5>
                </div>
                <ul class="ul">
                    <li>
                        <div class="text_field">
                            <h5 class="field_title li">Sleeping Bag or Sheets and Blanket as bunks will not have linen Pillow(s)</h5>
                        </div>
                    </li>
                    <li>
                        <div class="text_field">
                            <h5 class="field_title li">Toothbrush and Toothpaste</h5>
                        </div>
                    </li>
                    <li>
                        <div class="text_field">
                            <h5 class="field_title li">Deodorant</h5>
                        </div>
                    </li>
                    <li>
                        <div class="text_field">
                            <h5 class="field_title li">Soap and Shampoo</h5>
                        </div>
                    </li>
                    <li>
                        <div class="text_field">
                            <h5 class="field_title li">All other personal toiletries (conditioner, combs, brushes contact cases, glasses, solutions, lotions, etc.)</h5>
                        </div>
                    </li>
                    <li>
                        <div class="text_field">
                            <h5 class="field_title li">Towel(s) and cloth(s)</h5>
                        </div>
                    </li>
                    <li>
                        <div class="text_field">
                            <h5 class="field_title li">Water Bottle</h5>
                        </div>
                    </li>
                    <li>
                        <div class="text_field">
                            <h5 class="field_title li">2-3 Changes of comfortable casual warm clothing</h5>
                        </div>
                    </li>
                    <li>
                        <div class="text_field">
                            <h5 class="field_title li">Appropriate Sleeping Clothes for shared sleeping space</h5>
                        </div>
                    </li>
                    <li>
                        <div class="text_field">
                            <h5 class="field_title li">Closed Toed Shoes</h5>
                        </div>
                    </li>
                    <li>
                        <div class="text_field">
                            <h5 class="field_title li">Flip flops for showers</h5>
                        </div>
                    </li>
                    <li>
                        <div class="text_field">
                            <h5 class="field_title li">Hoodie or sweater (to have throughout the day)</h5>
                        </div>
                    </li>
                    <li>
                        <div class="text_field">
                            <h5 class="field_title li">Warm Jacket</h5>
                        </div>
                    </li>
                    <li>
                        <div class="text_field">
                            <h5 class="field_title li">Any prescribed Medication</h5>
                        </div>
                    </li>
                    <li>
                        <div class="text_field">
                            <h5 class="field_title li">Confirmation Forms (If not already submitted)</h5>
                        </div>
                    </li>
                </ul>
                <div class="text_field">
                    <h5 class="field_title text-center bold underline">OPTIONAL/RECOMMENDED ITEMS</h5>
                </div>
                <ul class="ul">
                    <li>
                        <div class="text_field">
                            <h5 class="field_title li">Flashlight</h5>
                        </div>
                    </li>
                    <li>
                        <div class="text_field">
                            <h5 class="field_title li">Personal Item for free time (i.e. musical instruments, sketchbooks)</h5>
                        </div>
                    </li>
                    <li>
                        <div class="text_field">
                            <h5 class="field_title li">There will be an open mic, so bring something to share if you would like</h5>
                        </div>
                    </li>
                </ul>

                <div class="divider"></div>
                
                <div class="text_field">
                    <h5 class="field_title text-center bold italics">** Note the LGBT Center of Raleigh is not responsible for any lost damaged or stolen items during the camp **</h5>
                </div>
            </div>
        </section>

        <div class="divider"></div>

        <div class="save_submit_button_container">
            <button class="save_button" value="Save">Save/Continue Later</button>
            <button class="submit_button" type="submit">Submit This Section and Continue</button>
        </div>

    </form>
</div>

{% endblock %}