{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="main_content_wrapper">
    <div class="rainbow"></div>
    <form class="camper_form">
        {% csrf_token %}
        <div class="camper_form_title_container">
            <h1>A Safer Place for Youth to Reach for Excellence</h1>
            <h2>{{ camp.start_date.year }} Leadership Camp Confirmation Packet</h2>
            <div class="section_current_out_of_total">
              <h3>Page 4 of 11</h3>
            </div>
        </div>

        <div class="divider"></div>

        <section id="section4" class="section">
            <div class="section_header">
                <h3>SECTION 4 - Physical Health History/Immunizations</h3>
            </div>
            <div class="section_content">
                <div class="text_field">
                    <p class="hint_text">Does the camper have a history of or is prone to any of the following (Please check all that apply)</p>
                    {{ form.camper_physical_health_history_choices }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Please list the number and provide explanation for any checked items:</h5>
                    {{ form.provide_explanation_of_any_checked_medical_history_items }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Physical Activities to be Limited/Restricted while at Camp:</h5>
                    {{ form.does_camper_have_any_physical_activities_to_be_limited_or_restricted }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Please record the month and year of immunizations for the following entires, or email a copy of the youth’s immunization records.</h5>
                </div>
                <div class="text_field">
                    <h5 class="field_title">Diphtheria, Tetanus, Pertussis:</h5>
                    <p class="hint_text">(DTaP or TdaP)</p>
                    {{ form.month_and_year_of_diphtheria_or_tetanus_immunization }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Tetanus Booster:</h5>
                    <p class="hint_text">(dT or TdaP)</p>
                    {{ form.month_and_year_of_tetanus_booster_immunization }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Polio:</h5>
                    <p class="hint_text">(IPV)</p>
                    {{ form.month_and_year_of_polio_immunization }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Rotavirus:</h5>
                    <p class="hint_text">(RV)</p>
                    {{ form.month_and_year_of_rotavirus_immunization }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Mumps, Measles, Rubella:</h5>
                    <p class="hint_text">(MMR)</p>
                    {{ form.month_and_year_of_mumps_measles_or_rubella_immunization }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Hepatitis A:</h5>
                    <p class="hint_text">(Hep. A)</p>
                    {{ form.month_and_year_of_hepatitis_a_immunization }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Hepatitis B:</h5>
                    <p class="hint_text">(Hep. B)</p>
                    {{ form.month_and_year_of_hepatitis_b_immunization }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Varicella:</h5>
                    <p class="hint_text">(Chicken Pox)</p>
                    {{ form.month_and_year_of_varicella_immunization }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Duration of any Chicken Pox:</h5>
                    {{ form.month_and_year_of_duration_of_chicken_pox }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Haemophilus Influenzae B:</h5>
                    <p class="hint_text">(Hib)</p>
                    {{ form.month_and_year_of_haemophilus_influenza_b_immunization }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Seasonal Flu Vaccine:</h5>
                    {{ form.month_and_year_of_seasonal_flu_vaccine_immunization }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Pneumococcal Vaccine:</h5>
                    <p class="hint_text">(PCV13)</p>
                    {{ form.month_and_year_of_pneumococcal_vaccine_immunization }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Human Papillomavirus:</h5>
                    <p class="hint_text">(HPV)</p>
                    {{ form.month_and_year_of_human_papillomavirus_immunization }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Meningococcal Meningitis:</h5>
                    {{ form.month_and_year_of_meningococcal_meningitis_immunization }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Tuberculin Test given:</h5>
                    <p class="hint_text">(Most Recent)</p>
                    {{ form.month_and_year_of_tuberculin_test }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Was the Tuberculin Test Positive or Negative?</h5>
                    {{ form.was_tuberculin_test_positive_or_negative }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Other:</h5>
                    {{ form.any_other_unlisted_immunizations }}
                </div>
            </div>
        </section>

        <div class="divider"></div>

        <div class="save_submit_button_container">
            <button class="save_button" value="Save">Save/Continue Later</button>
            <button class="submit_button" type="submit">Submit This Section and Continue</button>
        </div>

    </form>
</div>

{% endblock %}