{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="main_content_wrapper">
    <div class="rainbow"></div>
    <form class="camper_form">
        {% csrf_token %}
        <div class="camper_form_title_container">
            <h1>A Safer Place for Youth to Reach for Excellence</h1>
            <h2>{{ camp.start_date.year }} Leadership Camp Confirmation Packet</h2>
            <div class="section_current_out_of_total">
              <h3>Page 11 of 11</h3>
            </div>
        </div>

        <div class="divider"></div>

        <section id="section11" class="section">
            <div class="section_header">
                <h3>SECTION 11 - Directions To The Camp</h3>
            </div>
            <div class="section_content">
                <div class="text_field">
                    <h5 class="field_title text-center">DIRECTIONS TO THE CAMP:</h5>
                </div>
                <div class="medical_form_pic_container">
                    <div class="medical_form_pic_wrapper">
                        <img class="campWeaverSign" src="{% static 'assets/campWeaverSign.jpeg' %}">
                        <p class="hint_text text-center">ENTRY SIGNS OFF OF MILL POINT ROAD</p>
                    </div>
                    <div class="medical_form_pic_wrapper">
                        <img class="campBuilding" src="{% static 'assets/campBuilding.png' %}">
                        <p class="hint_text text-center">CASPER HALL</p>
                    </div>
                </div>
                <div class="text_field">
                    <h5 class="field_title text-center">TO THE CAMP SITE:</h5>
                </div>
                <ul class="ul">
                    <li>
                        <div class="text_field">
                            <h5 class="field_title text-center">Follow GPS Directions to 4924 Tapawingo Trail, Greensboro, NC 27406</h5>
                        </div>
                    </li>
                    <li>
                        <div class="text_field">
                            <h5 class="field_title text-center">From I-40 W/I-85 S: Exit #129, Make a Left onto Young’s Mill Road. (From I-40 E/I-85 N make a right)</h5>
                        </div>
                    </li>
                    <li>
                        <div class="text_field">
                            <h5 class="field_title text-center">Follow Young’s Mill Road until it dead ends and make a left onto Mill Point Road.</h5>
                        </div>
                    </li>
                    <li>
                        <div class="text_field">
                            <h5 class="field_title text-center">Travel on Mill Point Road for ¾ of a mile and turn onto Tapawingo Trail. Once inside the camp go ¾ around the traffic circle and make a right toward Casper Hall</h5>
                        </div>
                    </li>
                </ul>
                <div class="text_field">
                    <h5 class="field_title text-center">We will have signage to assist in finding your way to registration. Please call if you need any assistance.</h5>
                </div>
            </div>
        </section>


        <div class="divider"></div>

        <div class="save_submit_button_container">
            <button class="save_button" value="Save">Save/Continue Later</button>
            <button class="submit_button" type="submit">Submit This Section and Continue</button>
        </div>

    </form>
</div>

{% endblock %}