{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="main_content_wrapper">
    <div class="rainbow"></div>
    <form class="camper_form">
        {% csrf_token %}
        <div class="camper_form_title_container">
            <h1>A Safer Place for Youth to Reach for Excellence</h1>
            <h2>{{ camp.start_date.year }} Leadership Camp Confirmation Packet</h2>
            <div class="section_current_out_of_total">
              <h3>Page 2 of 11</h3>
            </div>
        </div>

        <div class="divider"></div>

        <section id="section2" class="section">
            <div class="section_header">
                <h3>SECTION 2 - Medications</h3>
            </div>
            <div class="section_content">
                <div class="text_field">
                    <h5 class="field_title">Will the youth be taking medications while at camp?</h5>
                    {{ form.will_camper_take_medication_while_at_camp }}
                </div>
                <div class="text_field">
                <p class="hint_text">Please list all (prescription and non-prescription) medications or provide a copy of the youth’s medication list. When you check-in at camp, please provide all medications in their original packaging that identifies the prescribing physician (if prescription drug), the name of the medication, the dosage, and frequency of administration. Please have medication in a ziplock bag labeled with your child’s first and last name along with birth date. Medications will be turned over to our volunteer Nurse onsite during registration.</p>
                    <h5 class="field_title">Medication:</h5>
                    {{ form.first_medication_name }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Dose:</h5>
                    {{ form.first_medication_dose }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Take at what times:</h5>
                    {{ form.first_medication_times }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Reasons for Taking:</h5>
                    {{ form.first_medication_reason_for_taking }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Prescriber:</h5>
                    {{ form.first_medication_prescriber_name }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Prescriber's Phone Number:</h5>
                    {{ form.first_medication_prescriber_phone_number }}
                </div>

                <div class="divider"></div>

                <div class="text_field">
                    <h5 class="field_title">Medication:</h5>
                    {{ form.second_medication_name }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Dose:</h5>
                    {{ form.second_medication_dose }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Take at what times:</h5>
                    {{ form.second_medication_times }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Reasons for Taking:</h5>
                    {{ form.second_medication_reason_for_taking }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Prescriber:</h5>
                    {{ form.second_medication_prescriber_name }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Prescriber's Phone Number:</h5>
                    {{ form.second_medication_prescriber_phone_number }}
                </div>

                <div class="divider"></div>

                <div class="text_field">
                    <h5 class="field_title">Medication:</h5>
                    {{ form.third_medication_name }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Dose:</h5>
                    {{ form.third_medication_dose }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Take at what times:</h5>
                    {{ form.third_medication_times }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Reasons for Taking:</h5>
                    {{ form.third_medication_reason_for_taking }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Prescriber:</h5>
                    {{ form.third_medication_prescriber_name }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Prescriber's Phone Number:</h5>
                    {{ form.third_medication_prescriber_phone_number }}
                </div>

                <div class="divider"></div>

                <div class="text_field">
                    <h5 class="field_title">Medication:</h5>
                    {{ form.fourth_medication_name }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Dose:</h5>
                    {{ form.fourth_medication_dose }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Take at what times:</h5>
                    {{ form.fourth_medication_times }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Reasons for Taking:</h5>
                    {{ form.fourth_medication_reason_for_taking }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Prescriber:</h5>
                    {{ form.fourth_medication_prescriber_name }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Prescriber's Phone Number:</h5>
                    {{ form.fourth_medication_prescriber_phone_number }}
                </div>

                <div class="divider"></div>

                <div class="text_field">
                    <h5 class="field_title">Medication:</h5>
                    {{ form.fifth_medication_name }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Dose:</h5>
                    {{ form.fifth_medication_dose }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Take at what times:</h5>
                    {{ form.fifth_medication_times }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Reasons for Taking:</h5>
                    {{ form.fifth_medication_reason_for_taking }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Prescriber:</h5>
                    {{ form.fifth_medication_prescriber_name }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Prescriber's Phone Number:</h5>
                    {{ form.fifth_medication_prescriber_phone_number }}
                </div>
                
                <div class="divider"></div>

                <div class="text_field">
                    <h5 class="field_title">Medication:</h5>
                    {{ form.sixth_medication_name }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Dose:</h5>
                    {{ form.sixth_medication_dose }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Take at what times:</h5>
                    {{ form.sixth_medication_times }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Reasons for Taking:</h5>
                    {{ form.sixth_medication_reason_for_taking }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Prescriber:</h5>
                    {{ form.sixth_medication_prescriber_name }}
                </div>
                <div class="text_field">
                    <h5 class="field_title">Prescriber's Phone Number:</h5>
                    {{ form.sixth_medication_prescriber_phone_number }}
                </div>
            </div>
        </section>

        <div class="divider"></div>

        <div class="save_submit_button_container">
            <button class="save_button" value="Save">Save/Continue Later</button>
            <button class="submit_button" type="submit">Submit This Section and Continue</button>
        </div>

    </form>
</div>

{% endblock %}