{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="main_content_wrapper">
    <div class="rainbow"></div>
    <form class="camper_form">
        {% csrf_token %}
        <div class="camper_form_title_container">
            <h1>A Safer Place for Youth to Reach for Excellence</h1>
            <h2>{{ camp.start_date.year }} Leadership Camp Confirmation Packet</h2>
            <div class="section_current_out_of_total">
              <h3>Page 8 of 11</h3>
            </div>
        </div>

        <div class="divider"></div>

        <section id="section8" class="section">
            <div class="section_header">
                <h3>SECTION 8 - Parent/Guardian and Participant Release</h3>
            </div>
            <div class="section_content">
                <div class="text_field">
                    <h5 class="field_title">Youth/Parent Waiver to Participate</h5>
                </div>
                <div class="text_field">
                    <ol>
                        <li>
                            <p class="hint_text">I wish to participate in ASPYRE Leadership Camp. I understand that my execution of this Waiver and Release is a prerequisite for participation in the Program. I further understand that there are risks and dangers inherent in participating in this Program.</p>
                        </li>
                        <li>
                            <p class="hint_text">I understand that in order to be allowed to participate in the Program, I agree to assume all risks and to release and hold harmless LGBT Center of Raleigh, ASPYRE Leadership Camp, and their officers, agents, employees, assigns, successors in interest, contractors, vendors (and their agents), agencies, sponsors, officials and volunteers, including host families, camp facilitators, participating communities and clubs and all governmental and public entities including, but not limited to, the State, County and local municipalities where the program takes place (collectively the “Released Parties”).</p>
                        </li>
                        <li>
                            <p class="hint_text">I intend by this Waiver and Release to release, in advance, and to waive my rights and to indemnify, defend, and hold harmless the Released Parties with respect to any cost, expense, liability or damage, including reasonable attorneys’ fees and expenses related to the investigation or defense of any claims (collectively, “Damages”) incurred if and to the extent that such Damages result from claims resulting from the activities or on account of any actions, negligent or otherwise, of the Released Parties. I understand and agree that this Waiver and Release is binding on my heirs, assigns, and legal representatives.</p>
                        </li>
                        <li>
                            <p class="hint_text">I understand that I am solely responsible to verify and show proof that I have adequate personal property and liability insurance to cover any and all contingencies during the entire duration of the Program, including all travel time. I may also be required to subscribe, at my own expense, to medical, life, personal property, liability, or other type of insurance, as deemed appropriate by LGBT Center of Raleigh, to cover the duration of the Program, regardless of whether said participant is already insured under a policy issued in the participant’s home country.</p>
                        </li>
                        <li>
                            <p class="hint_text">I understand that I am solely responsible for my health and safety, and I acknowledge that I am physically capable of participating in and completing this Program.</p>
                        </li>
                        <li>
                            <p class="hint_text">I agree to allow LGBT Center of Raleigh, and their contractors, agencies and sponsors, the use of my name and likeness in connection with the , for any purpose related to advertising or promotion of the event worldwide in perpetuity in all forms of media now and forever known.</p>
                        </li>
                        <li>
                            <p class="hint_text">Should any portion of this Waiver and Release be judicially determined invalid, voidable, or unenforceable for any reason, such portion of this Waiver and Release shall be severable from the remaining portions herein and the invalidity, voidability, or unenforceability thereof shall not affect the validity, effect, enforceability, or interpretation of the remaining provisions of this Waiver and Release.</p>
                        </li>
                        <li>
                            <p class="hint_text">I have carefully read this Waiver and Release and fully understand its contents. My parent or legal guardian has completely reviewed this Waiver and Release, understands and consents to its terms, and authorizes my participation by his/her signature below. I am aware that this is a RELEASE OF LIABILITY and a contract between me and the persons and entities mentioned above and I sign of my own free will.</p>
                        </li>
                    </ol>
                </div>
                <div class="text_field">
                    <p class="hint_text">{{ form.guardian_consent_for_waiver_to_participate }} I Agree with the Statments above.</p>
                </div>
            </div>
        </section>

        <div class="divider"></div>

        <div class="save_submit_button_container">
            <button class="save_button" value="Save">Save/Continue Later</button>
            <button class="submit_button" type="submit">Submit This Section and Continue</button>
        </div>

    </form>
</div>

{% endblock %}