{% extends 'base.html' %}
{% load static %}

{% block content %}

  <div class="main_content_wrapper">
    <div class="text_field">
      <p class="hint_text text-center">Thank you for completing your scholarship form. We are excited to have you join our camp family!  We will contact you for follow up in the next two weeks.</p>
    </div>
    <div class="scholarship_button_container">
      <button class="scholarship_button">Continue to Payment</button>
    </div>
    <div class="submitted_image_container">
      <img class="scholarshipImage submitted_image" src="{% static '/assets/campWeaverSign.jpeg' %}">
    </div>
  </div>
    
{% endblock %}