* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

* ul {
    list-style: none;
}


/*======================*/


/* Delete this later, Used for template travel */

.toDelete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.toDelete .medicalForm {
    margin-left: auto;
    margin-right: 1rem;
}

.toDelete .index {
    margin-left: 1rem;
    margin-right: auto;
}

.toDelete button {
    font-size: 1.5rem;
    padding-top: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.2rem;
}


/*======================*/

.main_content_wrapper {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 1rem;
}

.camper_registration_form {
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    background-color: white;
    margin-top: 0.5rem;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 0.5rem;
    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 1rem;
    border-top: 10px solid #3974e9;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.camper_registration_header {
    border-bottom: .5px solid gray;
    font-size: 1.2rem;
    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.camper_medical_form {
    border-bottom: .5px solid gray;
    font-size: 0.7rem;
    text-align: center;
    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.camper_registration_info {
    font-size: .7rem;
    margin-top: 0rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}

.text_field {
    margin-top: 2rem;
    margin-left: 1rem;
}

.boolean_field {
    margin-top: 2rem;
    margin-left: 1rem;
}

.field_title {
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 0.2rem;
}

.hint_text {
    margin-top: 0.2rem;
    font-size: 0.7rem;
}

.input_field {
    width: 95%;
    margin-top: 1rem;
    padding-top: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.3rem;
}

.text_field_input {
    background-color: #ecebeb;
    width: 20rem;
}

.boolean {
    width: 25px;
}

.save_submit_button_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 1rem;
}

.submit_button {
    background-color: #3974e9;
    color: white;
    border: 2px solid #0d204b;
    font-size: 1rem;
    margin-top: 2rem;
    margin-left: 1rem;
    padding-top: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.2rem;
    border-radius: 0.5rem;
}

.save_button {
    background-color: #3974e9;
    color: white;
    border: 2px solid #0d204b;
    font-size: 1rem;
    margin-top: 2rem;
    margin-left: 1rem;
    padding-top: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.2rem;
    border-radius: 0.5rem;
}